In [1]:
import defolt_picture as main

In [2]:
df = main.read_data()

In [3]:
rating_target = main.get_rating_target_values("высокий")

In [4]:
rating_values = rating_target[0]
trgt_rating = main.get_rating_target_per_years()
trgt_rating

                 2018  2019  2020  2021  2022
высокий          0.52  0.50  0.46  0.40  0.34
средний          0.26  0.27  0.30  0.34  0.35
низкий           0.20  0.21  0.22  0.24  0.25
экспресс без ФА  0.02  0.02  0.02  0.02  0.06

In [5]:
backet_target = main.get_backet_target_values()

In [6]:
df_with_backet = main.construct_default_picture(df, rating_target, backet_target)

In [7]:
rating_result = main.get_rating_result_values(df_with_backet)
rating_result

                 2018  2019  2020  2021  2022
высокий          0.52  0.50  0.46  0.40  0.36
средний          0.26  0.27  0.30  0.34  0.36
низкий           0.20  0.21  0.22  0.24  0.22
экспресс без ФА  0.02  0.02  0.02  0.02  0.06

In [8]:
backet_result = main.get_backet_result_values(df_with_backet)
backet_result

                2018   2019   2020   2021   2022
Без просрочки  92.44  90.58  89.00  87.96  85.91
1-30            5.17   5.57   5.97   6.33   6.82
31-60           1.62   1.49   1.75   1.85   2.14
defolt          0.77   2.36   3.28   3.86   5.14
sum           100.00 100.00 100.00 100.00 100.00

In [27]:
main.pd.options.display.max_columns=70
backet_result = main.get_backet_result_values(df_with_backet, False)
backet_result

,2018-01-01,2018-02-01,2018-03-01,2018-04-01,2018-05-01,2018-06-01,2018-07-01,2018-08-01,2018-09-01,2018-10-01,2018-11-01,2018-12-01,2019-01-01,2019-02-01,2019-03-01,2019-04-01,2019-05-01,2019-06-01,2019-07-01,2019-08-01,2019-09-01,2019-10-01,2019-11-01,2019-12-01,2020-01-01,2020-02-01,2020-03-01,2020-04-01,2020-05-01,2020-06-01,2020-07-01,2020-08-01,2020-09-01,2020-10-01,2020-11-01,2020-12-01,2021-01-01,2021-02-01,2021-03-01,2021-04-01,2021-05-01,2021-06-01,2021-07-01,2021-08-01,2021-09-01,2021-10-01,2021-11-01,2021-12-01,2022-01-01,2022-02-01,2022-03-01,2022-04-01,2022-05-01,2022-06-01,2022-07-01,2022-08-01,2022-09-01,2022-10-01,2022-11-01,2022-12-01
Без просрочки,97.43,96.36,95.44,94.55,92.92,92.38,92.43,92.17,91.21,91.42,91.82,91.63,91.68,91.15,91.24,90.83,90.69,90.30,90.45,90.48,90.40,90.26,90.12,90.27,89.93,89.76,89.36,89.16,88.91,88.86,88.89,88.71,88.70,88.68,88.74,88.79,88.73,88.37,87.98,88.04,87.99,87.87,87.83,87.78,87.72,87.74,87.79,87.89,87.92,87.38,87.15,86.72,86.28,85.91,85.50,85.22,84.73,84.34,84.05,83.77
1-30,2.57,2.81,3.96,4.29,5.68,6.08,5.54,5.29,6.08,6.09,5.29,5.10,5.10,5.36,5.32,5.73,5.80,5.91,5.71,5.51,5.47,5.47,5.74,5.51,5.63,5.56,5.86,6.02,6.13,6.06,5.87,6.14,6.06,6.11,6.10,5.95,6.01,6.21,6.39,6.36,6.34,6.34,6.30,6.31,6.42,6.42,6.42,6.32,6.29,6.52,6.52,6.79,6.86,7.02,6.95,6.98,7.13,7.05,7.00,7.02
31-60,nan,0.83,0.56,1.05,1.22,1.22,1.59,1.94,1.94,1.51,1.73,2.07,1.48,1.63,1.47,1.38,1.40,1.56,1.41,1.54,1.54,1.56,1.44,1.52,1.55,1.63,1.71,1.76,1.86,1.89,1.86,1.75,1.82,1.76,1.69,1.71,1.71,1.70,1.79,1.84,1.91,1.98,1.98,1.97,1.85,1.85,1.80,1.80,1.76,1.96,2.04,2.02,2.15,2.08,2.23,2.22,2.27,2.40,2.41,2.35
defolt,nan,nan,0.04,0.11,0.18,0.32,0.44,0.60,0.78,0.99,1.15,1.20,1.74,1.86,1.98,2.06,2.11,2.23,2.43,2.46,2.59,2.72,2.71,2.70,2.90,3.05,3.07,3.06,3.10,3.19,3.38,3.40,3.42,3.45,3.47,3.55,3.56,3.72,3.84,3.76,3.77,3.81,3.89,3.93,4.00,3.99,3.99,3.99,4.03,4.14,4.29,4.47,4.70,4.99,5.31,5.58,5.87,6.22,6.54,6.86
sum,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00